body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: #161616;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 250px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #161616;
    font-size: 40px;
}
h1{
    text-align: center;
    color: #161616;
    font-size: 40px;
}
input[type="email"],
input[type="password"],
input[type="text"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: 10px,none,none,none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #161616;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.button:hover{
    background: white;
    color: #161616;
}   
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #161616;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 120px;
        border-radius: 2%;
    }
}




























